*, ::after, ::before {
    box-sizing: border-box;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: lightgreen;
}

.h2, h2 {
    font-size: 2rem;
}

.h5, h5 {
    font-size: 1.25rem;
}

