.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}


.pl-3, .px-3 {
  padding-left: 1rem;
}

.pb-3, .py-3 {
  padding-bottom: 1rem;
}

.pr-3, .px-3 {
  padding-right: 1rem;
}

.pt-3, .py-3 {
  padding-top: 1rem;
}

.ml-auto, .mx-auto {
  margin-left: auto;
}

.mr-auto, .mx-auto {
  margin-right: auto;
}

.text-muted {
  color: #6c757d;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}


.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-content-start   { justify-content: flex-start }
.justify-content-end     { justify-content: flex-end }
.justify-content-center  { justify-content: center }
.justify-content-between { justify-content: space-between }
.justify-content-around  { justify-content: space-around }

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.bg-white {
  background-color: #fff;
}

.font-weight-normal {
  font-weight: 400;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.hidden {
  display: none;
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}
